---
import GitHub from "./icons/GitHub.astro"
import Laravel from "./icons/Laravel.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import React from "./icons/react.astro"
import Unity from "./icons/unity.astro"
import Flutter from "./icons/flutter.astro"

const TAGS = {
  LARAVEL: {
    name: "Laravel",
    class: "bg-black text-white",
    icon: Laravel,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  React: {
    name: "React",
    class: "bg-[#61DAFB] text-black",
    icon: React,
  },
  Unity: {
    name: "Unity",
    class: "bg-[#000000] text-white",
    icon: Unity,
  },
  Flutter: {
    name: "Flutter",
    class: "bg-[#02569B] text-white",
    icon: Flutter,
  },
}
const PROJECTS = [
  {
    title: "Backend API",
    description:
      "API RESTful desarrollada con Laravel. Permite gestionar usuarios, roles y permisos. Incluye autenticación y validación de datos.",
    
    github: "https://github.com/GeniuX-arch/Proyecto-grado-backend-laravel.git",
    image: "https://geniux-arch.github.io/portafolio-2.0/img/proyecto1.png",
    tags: [TAGS.LARAVEL],
  },
  {
    title: "Gestión de Horarios de la UTS ",
    description:
      "Proyecto colaborativo con GeniuX-arch que necesita las UTS para ahorrar tiempo y recursos en la creación de horarios teniendo en cuenta los contratos de los profesores",
    github: "https://github.com/GeniuX-arch/proyecto-grado-frontend",
    image: "/projects/horario1.jpg",
    tags: [TAGS.TAILWIND , TAGS.React],
  },

  {
    title: "Gestion de inventario de una empresa pequeña",
    description:
      "Desarrollo de un sistema de gestión de inventario para una empresa pequeña utilizando Laravel y Filament.",
    github: "https://github.com/kirivanCode/filament_inventario2",
    link: "https://filament-inventario2.vercel.app",
    image: "/projects/filament.png",
    tags: [TAGS.LARAVEL],
  },

  {
    title: "Videjuego en plataforma 2D",
    description:
      "Desarrollado en unity con el proposito de aprender a programar en C# y crear un videojuego de plataforma 2D. Ademas cuento con conocimientos en la creacion de videojuegos en 3D.",
   link: "https://drive.google.com/file/d/17pXdZOm8obpJzfE64Kw6f307GMLWw93k/view?usp=sharing",
    image: "/projects/game2.png",
    tags: [TAGS.Unity],
  },
{
  title: "Aplicación de pausas activas",
    description:
      "Aplicación móvil desarrollada en Flutter utilizando la metodología Scrum, con el propósito de aprender Dart y fortalecer habilidades en desarrollo multiplataforma.",
   github: "https://github.com/kirivanCode/final_daimox_AppPausasActivas",
    image: "/projects/flutter.png",
    tags: [TAGS.Flutter],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img 
            alt={title} 
            class="object-cover w-full h-full max-h-64 sm:max-h-none sm:h-auto transition duration-500 md:scale-110 md:group-hover:scale-105" 
            loading="lazy" 
            src={image} 
          />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Ver
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>
